---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/hero/Hero.astro";
import SocialNav from "../components/social-nav/SocialNav.astro";
---

<BaseLayout title="ATARASHII GAKKO!">
  <main>
    <Hero>
      <SocialNav />
    </Hero>
  </main>
</BaseLayout>
