---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/header/Header.astro";
---

<BaseLayout title="ATARASHII GAKKO!">
  <main>
    <Header />
  </main>
</BaseLayout>
