---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home"> <h1>HOME</h1> </BaseLayout>

<script>
  import { consoleMe } from "../lib/utils";
  consoleMe();
</script>
