---
import "../styles/global.scss";

interface LayoutProps {
  title?: string;
}

const { title = "Product Management" } = Astro.props as LayoutProps;
---

<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body
    class="min-h-screen flex items-center justify-center bg-gradient-to-b from-sky-500 to-sky-700"
  >
    <!-- Simulação do celular -->
    <main
      class="w-full max-w-sm min-h-screen bg-white shadow-2xl rounded-none sm:rounded-2xl overflow-hidden"
    >
      <slot />
    </main>
  </body>
</html>
