<section class="hero-banner">
  <slot />
</section>

<style lang="scss">
  .hero-banner {
    height: 150vh;
    background-image: url("/images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1.5rem;
  }
</style>
