@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-blue: #0052d4;
  --primary-yellow: #fcee09;
}

body {
  font-family: sans-serif;
  background-color: var(--background-blue);
  color: white;
}
