---
const tourTitle = "World Tour Dates";
const tourSubtitle = "No shows at this time";
---

<section class="tour">
  <div class="tour__container">
    <h2 class="tour__title">{tourTitle}</h2>
    <p class="tour__subtitle">{tourSubtitle}</p>
  </div>
</section>
