---
import BaseLayout from "../layouts/BaseLayout.astro";

import { UserButton } from "@clerk/astro/components";
---

<BaseLayout title="Clerk + Astro">
  <a href="/teste2">Teste 2</a>
  <UserButton />
</BaseLayout>
