---
const { isAuthenticated, userId } = Astro.locals.auth();

if (!isAuthenticated) {
  return Astro.redirect("/");
}

const user = await Astro.locals.currentUser();
---

<div>Welcome, {user?.firstName}!</div>
